@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.noScroll,
html.noScroll {
    overflow: hidden;
}

.liquidGlass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blueText {
    color: #0026ff;
}

/* =================================== menu =================================== */
menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    margin: 0 auto;
    width: 90%;
    height: 42px;
}

menu li:first-of-type {
    margin: 5px 0 0 0;
    padding: 0;
}

menu li img {
    height: 40px;
    width: 44px;
    cursor: pointer;
}

#menuBarsContainer {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

#menuBarsContainer .menuBar3 {
    margin: 0;
}

#menuBarsContainer .menuBar2 {
    margin: 4px 0;
}

#menuBarsContainer .menuBar1 {
    margin: 0;
}

.menuBar1,
.menuBar2,
.menuBar3 {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 0;
    transition: 0.4s;
}

.change .menuBar1 {
    transform: translate(0, 9px) rotate(-46deg);
}

.change .menuBar2 {
    opacity: 0;
}

.change .menuBar3 {
    transform: translate(0, -7px) rotate(44deg);
}

nav {
    position: fixed;
    top: 52px;
    right: 0;
    width: 200px;
    height: calc(100vh - 74px);
    background-color: rgb(13, 13, 174);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px 0;
    box-sizing: border-box;
    z-index: 101;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.navIsOpen {
    transform: translateX(0);
}

.navPageLink {
    color: yellow;
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
}

.navPageLink:hover {
    color: white;
}

.registerButton {
    background-image: linear-gradient(92.88deg, rgb(245, 245, 153) 9.16%, rgb(249, 249, 43) 43.89%, yellow 64.72%);
    box-shadow: rgba(0, 0, 255, 0.5) 0 1px 10px;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    height: fit-content;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0.5rem 0.7rem;
    color: #0026ff;
    text-decoration: none;
    font-size: 120%;
    font-weight: 300;
}

.registerButton:hover {
    background-color: white;
    color: #0026ff;
    background-image: none;
    cursor: pointer;
}

/* hiding full fledge menu on smaller screens */
#biggerScreenMenu {
    display: none;
}

/* =================================== image slider ads =================================== */
#sliderAdsContainer {
    height: 70vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    margin-bottom: 60px;
}

.adSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 3s ease-in-out, visibility 3s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* for each background-image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.adSlide.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.adSlide a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.sliderBtn {
    background-image: linear-gradient(92.88deg, #6278f3 9.16%, #3d59fc 43.89%, #0026ff 64.72%);
    box-shadow: rgba(0, 0, 255, 0.5) 0 1px 30px;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: yellow;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    height: fit-content;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0.5rem 0.7rem;
}

.sliderBtn:hover {
    background-image: linear-gradient(92.88deg, rgb(245, 245, 153) 9.16%, rgb(249, 249, 43) 43.89%, yellow 64.72%);
    box-shadow: rgba(0, 0, 255, 0.5) 0 1px 30px;
    color: #0026ff;
}

.sliderBtn span {
    margin-left: 6px;
}

/* =================================== pageDetails =================================== */
.pageDetails {
    width: 90%;
    margin: auto;
}

#centerOfChoice,
#ccsClubs,
#feedbackSection h2 {
    text-align: center;
}

.ccsValues {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align-last: left;
    font-weight: 600;
    list-style-type: square;
}

#ccsClubs {
    margin-top: 60px;
    margin-bottom: 60px;
}

#ccsClubs .akcCard {
    background-image: url('./images/gallery/art-and-craft/art11.jpg');
}

#ccsClubs .c5SparkTeensClub {
    background-image: url('./images/gallery/art-and-craft/art7.jpg');
    /* space between cards in column mode */
    margin: 20px 0;
}

#ccsClubs .holidayProg {
    background-image: url('./images/clubs/specialPrograms.jpg');
}

#ccsClubs .personalitiesCard {
    background-image: url('./images/clubs/amazingPersonalities2.jpg');
    /* space between cards in column mode */
    margin: 20px 0;
}

#ccsClubs .oneClubCard {
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: left;
}

#ccsClubs .oneClubCard:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#ccsClubs .oneClubCard .arrowLinkBtn {
    border-radius: 50%;
    padding: 5px;
    top: 5px;
    right: 5px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.arrowLinkBtn svg {
    height: 32px;
    width: 32px;
}

#ccsClubs .oneClubCard .clubCardDetz {
    position: absolute;
    bottom: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    color: white;
    z-index: 10;
    padding: 0px 10px;
    font-size: 90%;
}

#ccsClubs .oneClubCard .clubCardDetz h3 {
    margin: 0;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 100%;
}

/* =================================== feedback section =================================== */
.feedbackCard {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
    padding: 15px 20px;
}

.feedbackCard p:last-of-type {
    font-weight: 300;
}

.ruthPendoCard {
    background-color: #F9755B;
    color: white;
}

.hannahCard {
    background-color: #DB627D;
    color: white;
    margin: 20px 0;
}

.ruthSheilaCard {
    color: white;
    background-color: #9B3490;
    margin-bottom: 20px;
}

.bellaCard {
    color: white;
    background-color: #8343D3;
}

/* =================================== contact us =================================== */
#contactUs {
    background-color: #0d0dae;
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 20px 20px 10px 20px;
    margin-top: 60px;
}

#contactUs .contactIcons {
    display: flex;
    gap: 25px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
}

#contactUs p {
    text-align: center;
}

#contactUs p:last-of-type {
    font-size: 80%;
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 3px;
    margin-bottom: 0;
}

#contactUs .contactIcon {
    height: 48px;
    width: 48px;
}

#contactUs .mottoFooter {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.akcNum {
    letter-spacing: 2px;
    font-size: 110%;
    color: yellow;
}

#floatingWhatsappDiv {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 16px;
    right: 20px;
    z-index: 100;
    display: grid;
    justify-content: right;
    align-items: center;
}

#floatingWhatsappDiv img {
    height: 60px;
    width: 60px;
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 50%;
}

#floatingWhatsappDiv img,
#floatingWhatsappDiv p {
    margin: 0;
    padding: 0;
}

#floatingWhatsappDiv p {
    text-align: right;
    padding-right: 5px;
    font-size: 200%;
    margin-bottom: 20px;
    font-weight: 300;
    cursor: pointer;
}

#floatingWhatsappDiv p:hover {
    cursor: pointer;
    color: red;
}

/* ########################################## MEDIA QUERIES ########################################## */

/* For larger phones and smaller tablets */
@media (min-width: 480px) {
    .ccsValues {
        width: 80%;
        margin: 0 auto;
    }
}

/* For tablets and small laptops */
@media (min-width: 768px) {

    /* menu */
    menu {
        height: 60px;
    }

    menu li img {
        height: 48px;
        width: 52px;
    }

    nav {
        top: 70px;
    }

    /* slideshow */
    .sliderBtn {
        height: 3rem;
        padding: 0 1.6rem;
    }

    .ccsValues {
        width: 50%;
        margin: 0 auto;
    }

    /* clubs */
    #ccsClubs .c5SparkTeensClub {
        margin: 0;
    }

    #ccsClubs .personalitiesCard {
        margin: 0;
    }

    #ccsClubs .clubsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    /* feedback */
    #feedbackCardsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    .ruthPendoCard {
        grid-column: 1/2;
        grid-row: 1;
    }

    .hannahCard {
        grid-column: 2/3;
        grid-row: 1;
    }


    .bellaCard {
        grid-column: 1/3;
        grid-row: 2;
    }

    .ruthSheilaCard {
        grid-column: 1/2;
        grid-row: 3;
    }

    /* contact */
    .akcNum {
        letter-spacing: 3px;
        font-size: 120%;
    }

    #contactUs .mottoFooter {
        width: 80%;
    }
}

/* For desktops and large screens */
@media (min-width: 1024px) {

    /* menu */
    menu {
        width: 95%;
    }

    menu li:first-of-type {
        margin: 10px 0 0 0;
    }

    /* hiding small screen menu */
    menu li:last-of-type {
        display: none;
    }

    /* displaying bigger screen menu */
    #biggerScreenMenu {
        display: flex;
        justify-content: space-between;
        width: 500px;
        font-size: 110%;
        font-weight: 600;
        text-decoration: none;
        align-items: center;
    }

    #biggerScreenMenu a {
        text-decoration: none;
        color: #0026ff;
        cursor: pointer;
    }

    #biggerScreenMenu a:visited {
        text-decoration: none;
        color: #0026ff;
        cursor: pointer;
    }

    #biggerScreenMenu a:hover {
        text-decoration: none;
        color: rgba(0, 38, 255, 0.4);
        cursor: pointer;
    }

    #biggerScreenMenu a.registerButton {
        color: #0026ff;
        background-image: linear-gradient(92.88deg, rgb(245, 245, 153) 9.16%, rgb(249, 249, 43) 43.89%, yellow 64.72%);
        box-shadow: rgba(0, 0, 255, 0.5) 0 1px 10px;
        border-radius: 10px;
        font-weight: 300;
    }

    #biggerScreenMenu a.registerButton:hover {
        background-color: white;
        color: #0026ff;
        background-image: none;
        cursor: pointer;
        box-shadow: rgba(0, 0, 255, 0.5) 0 1px 10px;
    }

    #sliderAdsContainer {
        height: 81vh;
        margin-bottom: 40px;
    }

    /* page details */
    .pageDetails {
        width: 80%;
        margin: auto;
    }

    .ccsValues {
        width: 40%;
        margin: 0 auto;
    }

    /* contact */
    #contactUs {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }

    #contactUs .mottoFooter {
        width: 70%;
        margin-bottom: 50px;
    }

    #contactUs .contactIcons {
        gap: 40px;
        margin-top: 50px;
    }

    #contactUs .contactIcon {
        height: 60px;
        width: 60px;
    }
}

/* xl screens */
@media (min-width: 1366px) {

    /* menu */
    menu li img {
        height: 52px;
        width: 56px;
    }

    #biggerScreenMenu {
        width: 650px;
    }

    /* page details */
    .pageDetails {
        width: 70%;
    }

    #ccsClubs .clubsContainer {
        gap: 20px;
    }

    .ccsValues {
        width: 35%;
        margin: 0 auto;
    }

    /* feedback */
    #feedbackCardsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .ruthPendoCard {
        grid-column: 1/2;
        grid-row: 1;
    }

    .hannahCard {
        grid-column: 2/3;
        grid-row: 1;
    }


    .bellaCard {
        grid-column: 1/4;
        grid-row: 2;
    }

    .ruthSheilaCard {
        grid-column: 3/4;
        grid-row: 1;
    }

    /* contact */
    #contactUs {
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        padding-bottom: 5px;
    }

    #contactUs .mottoFooter {
        width: 60%;
        margin-bottom: 30px;
    }

    #contactUs .contactIcons {
        margin-top: 30px;
    }

    .akcNum {
        letter-spacing: 4px;
        font-size: 130%;
    }
}