@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}

.noScroll,
html.noScroll {
    overflow: hidden;
}

/* menu */
.theMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 95%;
    height: 80px;
}

.theMenu div {
    margin: 9px 0 0 0;
    padding: 0;
}

.theMenu a {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.theMenu img {
    height: 40px;
    width: 44px;
}

/* nav */
#menuBarsContainer {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

#menuBarsContainer .menuBar3 {
    margin: 0;
}

#menuBarsContainer .menuBar2 {
    margin: 4px 0;
}

#menuBarsContainer .menuBar1 {
    margin: 0;
}

.menuBar1,
.menuBar2,
.menuBar3 {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 0;
    transition: 0.4s;
}

.change .menuBar1 {
    transform: translate(0, 9px) rotate(-46deg);
}

.change .menuBar2 {
    opacity: 0;
}

.change .menuBar3 {
    transform: translate(0, -7px) rotate(44deg);
}

nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: rgb(13, 13, 174);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px 0;
    box-sizing: border-box;
    z-index: 101;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.navIsOpen {
    transform: translateX(0);
}

.navPageLink {
    color: yellow;
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
}

.navPageLink:hover {
    color: white;
}

.myButton {
    background-image: linear-gradient(92.88deg, rgb(245, 245, 153) 9.16%, rgb(249, 249, 43) 43.89%, yellow 64.72%);
    box-shadow: rgba(0, 0, 255, 0.5) 0 1px 5px;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    height: fit-content;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0.6rem 3rem;
    color: #0026ff;
    text-decoration: none;
    font-size: 120%;
    font-weight: 300;
}

.myButton:hover {
    background-color: white;
    color: #0026ff;
    background-image: none;
    cursor: pointer;
}

.myButton a {
    text-decoration: none;
    color: inherit;
}

.myButton a:visited {
    text-decoration: none;
    color: inherit;
}

.myButton a:active {
    text-decoration: none;
    color: inherit;
}

a.registerButton {
    background-image: linear-gradient(92.88deg, rgb(245, 245, 153) 9.16%, rgb(249, 249, 43) 43.89%, yellow 64.72%);
    box-shadow: rgba(0, 0, 255, 0.5) 0 1px 10px;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    height: fit-content;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0.5rem 0.7rem;
    color: #0026ff;
    text-decoration: none;
    font-size: 120%;
    font-weight: 300;
}

a.registerButton:hover {
    background-color: white;
    color: #0026ff;
    background-image: none;
    cursor: pointer;
}

#biggerScreenMenu {
    display: none;
}

/* poster details */

.allThePosterDetails {
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.programImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

h1,
h3 {
    color: #0026ff;
}

h3 {
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

.subTopic {
    margin-top: 0;
    margin-bottom: 20px;
}

.centerText {
    text-align: center;
}

.otherProgPostersDiv {
    width: 100%;
    display: grid;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}

.otherProgPostersDiv a {
    overflow: hidden;
    text-decoration: none;
    display: block;
    height: 500px;
    width: 100%;
    border-radius: 20px;
}

.otherProgPostersDiv a:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.otherProgPostersDiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ########################################## Media Queries ##########################################*/

/* For larger phones and smaller tablets */
@media (min-width: 480px) {
    .theMenu {
        width: 90%;
    }

    .theMenu div {
        margin: 11px 0 0 0;
    }

    .allThePosterDetails {
        width: 80%;
    }

    .programImg {
        height: 310px;
    }

    .otherProgPostersDiv a {
        width: 100%;
        height: 600px;
        width: 100%;
    }
}

/* For tablets and small laptops */
@media (min-width: 768px) {
    .theMenu div {
        margin: 14px 0 0 0;
    }

    .theMenu img {
        height: 48px;
        width: 52px;
    }

    .allThePosterDetails {
        width: 70%;
        padding-bottom: 20px;
    }

    .programImg {
        height: 390px;
    }

    .allThePosterDetails {
        width: 70%;
        padding-bottom: 20px;
    }

    .otherProgPostersDiv {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        height: 450px;
    }

    .otherProgPostersDiv a {
        height: 100%;
        width: 100%;
    }
}

/* For desktops and large screens */
@media (min-width: 1024px) {

    .theMenu div {
        margin: 15px 0 0 0;
    }

    /* hiding small screen menu */
    #menuBarsContainer {
        display: none;
    }

    /* displaying bigger screen menu */
    #biggerScreenMenu {
        display: flex;
        justify-content: space-between;
        width: 500px;
        font-size: 110%;
        font-weight: 600;
        text-decoration: none;
        align-items: center;
    }

    #biggerScreenMenu a {
        color: #0026ff;
        text-decoration: none;
        cursor: pointer;
    }

    #biggerScreenMenu a:visited {
        color: #0026ff;
        text-decoration: none;
        cursor: pointer;
    }

    #biggerScreenMenu a:hover {
        text-decoration: none;
        color: rgba(0, 38, 255, 0.4);
        cursor: pointer;
    }

    #biggerScreenMenu a.registerButton {
        color: #0026ff;
        background-image: linear-gradient(92.88deg, rgb(245, 245, 153) 9.16%, rgb(249, 249, 43) 43.89%, yellow 64.72%);
        box-shadow: rgba(0, 0, 255, 0.5) 0 1px 10px;
        border-radius: 10px;
        font-weight: 300;
    }

    #biggerScreenMenu a.registerButton:hover {
        background-color: white;
        color: #0026ff;
        background-image: none;
        cursor: pointer;
        box-shadow: rgba(0, 0, 255, 0.5) 0 1px 10px;
    }

    .allThePosterDetails {
        width: 60%;
    }

    .programImg {
        height: 450px;
    }

    .otherProgPostersDiv {
        gap: 20px;
        height: 500px;
    }
}

/* xl screens */
@media (min-width: 1366px) {

    .theMenu img {
        height: 52px;
        width: 56px;
    }

    #biggerScreenMenu {
        width: 650px;
    }

    .allThePosterDetails {
        width: 50%;
    }

    .otherProgPostersDiv {
        gap: 30px;
        height: 550px;
    }
}