@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.liquidGlass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* logo & title */

.galleryMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    align-items: center;
}

.galleryMenu h1 {
    color: red;
    font-size: 170%;
}

.galleryMenu div {
    margin: 10px 0 0 0;
    padding: 0;
}

.galleryMenu a {
    cursor: pointer;
}

.galleryMenu img {
    height: 22px;
    width: 100px;
}

/* blog cards */

#blogContainer {
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 20px;
}

#blogContainer .blogCard {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#blogContainer .blogCard:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.allTextContainer {
    position: absolute;
    bottom: 0;
    font-size: 90%;
    padding: 0 10px 10px 10px;
}

.blogCardDateClubDiv {
    display: flex;
    justify-content: space-between;
    color: red;
    margin: 5px 0 0 0;
    font-weight: 300;
    font-size: 90%;
}

.allTextContainer h2 {
    margin: 5px 0;
    padding: 0;
    font-size: 130%;
}

.allTextContainer p {
    margin: 0;
    padding: 0;
}

.allTextContainer button {
    background-image: linear-gradient(92.88deg, #ff6161 9.16%, #ff3b3b 43.89%, red 64.72%);
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    height: fit-content;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(255, 0, 0, 0.5) 0 1px 30px;
    padding: 0.5rem 0.7rem;
    margin-top: 10px;
}

.allTextContainer button:hover {
    background-color: white;
    color: red;
    background-image: none;
    cursor: pointer;
}

.allTextContainer button span {
    margin-left: 10px;
}

/* ########################################## MEDIA QUERIES ########################################## */

/* For larger phones and smaller tablets */
@media (min-width: 480px) {
    .galleryMenu {
        grid-template-columns: repeat(3, 1fr);
    }

    .galleryMenu div {
        margin: 11px 0 0 0;
    }

    .galleryMenu img {
        height: 32px;
        width: 130px;
    }

    .galleryMenu h1 {
        font-size: 200%;
        margin-left: 10px;
    }

    #blogContainer {
        gap: 25px;
        width: 85%;
        margin: 30px auto;
    }

    .allTextContainer {
        font-size: 100%;
        padding: 0 20px 20px 20px;
    }

    .blogCardDateClubDiv {
        font-size: 100%;
    }

    .allTextContainer h2 {
        font-size: 150%;
    }
}

/* For tablets and small laptops */
@media (min-width: 768px) {
    .galleryMenu {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: 0 auto;
    }

    .galleryMenu div {
        margin: 14px 0 0 0;
    }

    .galleryMenu img {
        height: 40px;
        width: 180px;
    }

    .galleryMenu h1 {
        font-size: 250%;
        margin-left: 40px;
    }

    #blogContainer {
        gap: 25px;
        width: 90%;
        margin: 30px auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .blogCardDateClubDiv {
        font-size: 95%;
    }

    .allTextContainer h2 {
        font-size: 130%;
    }
}

/* For desktops and large screens */
@media (min-width: 1024px) {
    .galleryMenu div {
        margin: 15px 0 0 0;
    }

    #blogContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .blogCardDateClubDiv {
        font-size: 85%;
    }

    .allTextContainer h2 {
        font-size: 120%;
    }
}

/* xl screens */
@media (min-width: 1366px) {
    .galleryMenu h1 {
        font-size: 250%;
        margin-left: 100px;
    }

    #blogContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}