@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.noScroll,
html.noScroll {
    overflow: hidden;
}

.blueText,
#holidayPrograms h3 {
    color: #0026ff;
}

.clubImages {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
    height: 50vh;
}

iframe {
    width: 100%;
    height: 260px;
}

h2,
h3,
h4 {
    text-align: center;
}

/* ############################## menu ############################## */

.clubsMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 95%;
    height: 80px;
}

.clubsMenu div {
    margin: 9px 0 0 0;
    padding: 0;
}

.clubsMenu a {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.clubsMenu img {
    height: 40px;
    width: 44px;
}

/* nav */
#menuBarsContainer {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

#menuBarsContainer .menuBar3 {
    margin: 0;
}

#menuBarsContainer .menuBar2 {
    margin: 4px 0;
}

#menuBarsContainer .menuBar1 {
    margin: 0;
}

.menuBar1,
.menuBar2,
.menuBar3 {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 0;
    transition: 0.4s;
}

.change .menuBar1 {
    transform: translate(0, 9px) rotate(-46deg);
}

.change .menuBar2 {
    opacity: 0;
}

.change .menuBar3 {
    transform: translate(0, -7px) rotate(44deg);
}

nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: rgb(13, 13, 174);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px 0;
    box-sizing: border-box;
    z-index: 101;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.navIsOpen {
    transform: translateX(0);
}

.navPageLink {
    color: yellow;
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
}

.navPageLink:hover {
    color: white;
}

#biggerScreenMenu {
    display: none;
}

/* ########################################## All Clubs ##########################################*/

.akcClubDetails,
.c5SparkClubDetails,
.holidayProgramDetails {
    width: 90%;
    margin: 0 auto;
}

#amazingKidsClub {
    margin-bottom: 80px;
    margin-top: 40px;
}

.akcObjective {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    height: fit-content;
    align-items: center;
    gap: 10px;
}

.akcObjective .number {
    display: grid;
    place-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to bottom, yellow, #0026ff) border-box;
}

.weOffer {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
}

.weOffer iframe {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.weOffer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: square;
    font-weight: 500;
    gap: 10px;
}

.benefitsAkc {
    display: grid;
    gap: 20px;
    margin-bottom: 30px;
}

.artBenefits,
.dancingBenefits {
    margin: 0;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    list-style: none;
    border-radius: 20px;
}

.artBenefits h4,
.dancingBenefits h4 {
    margin-top: 0;
}

.artBenefits li p,
.dancingBenefits li p {
    margin-top: 0;
}

#c5Spark h3:first-of-type {
    margin-top: 30px;
}

.sparkObjs,
.holidayProgramDetails ul {
    list-style-type: square;
}

.sparkObjs li::marker,
.holidayProgramDetails li::marker {
    color: #0026ff;
    font-size: 120%;
}

#c5Spark ol {
    list-style-type: decimal-leading-zero;
    padding: 0 0 0 20px;
    margin-bottom: 30px;
}

#c5Spark ol li {
    font-weight: 500;
}

.membDiv {
    text-align: center;
}

#holidayPrograms {
    margin-top: 50px;
    margin-bottom: 20px;
}

#floatingWhatsappDiv {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 16px;
    right: 20px;
    z-index: 100;
    display: grid;
    justify-content: right;
    align-items: center;
}

#floatingWhatsappDiv img {
    height: 60px;
    width: 60px;
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 50%;
}

#floatingWhatsappDiv img,
#floatingWhatsappDiv p {
    margin: 0;
    padding: 0;
}

#floatingWhatsappDiv p {
    text-align: right;
    padding-right: 5px;
    font-size: 200%;
    margin-bottom: 20px;
    font-weight: 300;
    cursor: pointer;
}

#floatingWhatsappDiv p:hover {
    cursor: pointer;
    color: red;
}

/* ########################################## Media Queries ##########################################*/

/* For larger phones and smaller tablets */
@media (min-width: 480px) {
    .clubsMenu {
        width: 90%;
    }

    .clubsMenu div {
        margin: 11px 0 0 0;
    }

    .akcClubDetails,
    .c5SparkClubDetails,
    .holidayProgramDetails {
        width: 85%;
    }
}

/* For tablets and small laptops */
@media (min-width: 768px) {
    .clubsMenu div {
        margin: 14px 0 0 0;
    }

    .clubsMenu img {
        height: 48px;
        width: 52px;
    }

    .sparkObjs li::marker,
    .holidayProgramDetails li::marker {
        color: #0026ff;
        font-size: 180%;
    }
}

/* For desktops and large screens */
@media (min-width: 1024px) {
    .clubsMenu div {
        margin: 15px 0 0 0;
    }

    /* hiding small screen menu */
    #menuBarsContainer {
        display: none;
    }

    /* displaying bigger screen menu */
    #biggerScreenMenu {
        display: flex;
        justify-content: space-between;
        width: 450px;
        font-size: 110%;
        font-weight: 600;
        text-decoration: none;
    }

    #biggerScreenMenu a {
        color: #0026ff;
        text-decoration: none;
        cursor: pointer;
    }

    #biggerScreenMenu a:visited {
        color: #0026ff;
        text-decoration: none;
        cursor: pointer;
    }

    #biggerScreenMenu a:hover {
        text-decoration: none;
        color: rgba(0, 38, 255, 0.4);
        cursor: pointer;
    }

    .akcClubDetails,
    .c5SparkClubDetails,
    .holidayProgramDetails {
        width: 80%;
    }

    .weOffer {
        display: flex;
        flex-direction: row;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 20px;
        margin-bottom: 50px;
        align-items: center;
    }

    .weOffer iframe {
        width: 100;
        height: 300px;
    }

    .weOffer ul {
        font-size: 110%;
    }

    .benefitsAkc {
        gap: 20px;
        margin-bottom: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

    .artBenefits,
    .dancingBenefits {
        padding: 20px;
        height: fit-content;
    }

    h3 {
        margin-bottom: 30px;
    }

    #holidayPrograms {
        margin-top: 80px;
        margin-bottom: 30px;
    }

    #holidayPrograms h3{
        margin-top: 30px;
        margin-bottom: 25px;
    }
}

/* xl screens */
@media (min-width: 1366px) {

    .clubsMenu img {
        height: 52px;
        width: 56px;
    }

    #biggerScreenMenu {
        width: 550px;
    }

    .clubImages {
        width: 80%;
        display: grid;
        margin: auto;
        height: 65vh;
    }

    .akcClubDetails,
    .c5SparkClubDetails,
    .holidayProgramDetails {
        width: 60%;
    }

    .akcObjectivesH3 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .weOffer {
        height: 300px;
    }

    .weOffer iframe {
        height: 100%;
    }

    .sparkOffer {
        margin-top: 60px;
    }

    .sparkOfferH3 {
        margin: 0;
    }
}