@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: whitesmoke;
}

.noScroll,
html.noScroll {
    overflow: hidden;
}

/* ############################## menu ############################## */

.galleryMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 95%;
    height: 80px;
}

.galleryMenu div {
    margin: 9px 0 0 0;
    padding: 0;
}

.galleryMenu a {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.galleryMenu img {
    height: 40px;
    width: 44px;
}

/* nav */
#menuBarsContainer {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

#menuBarsContainer .menuBar3 {
    margin: 0;
}

#menuBarsContainer .menuBar2 {
    margin: 4px 0;
}

#menuBarsContainer .menuBar1 {
    margin: 0;
}

.menuBar1,
.menuBar2,
.menuBar3 {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 0;
    transition: 0.4s;
}

.change .menuBar1 {
    transform: translate(0, 9px) rotate(-46deg);
}

.change .menuBar2 {
    opacity: 0;
}

.change .menuBar3 {
    transform: translate(0, -7px) rotate(44deg);
}

nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: rgb(13, 13, 174);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px 0;
    box-sizing: border-box;
    z-index: 101;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.navIsOpen {
    transform: translateX(0);
}

.navPageLink {
    color: white;
    text-decoration: none;
    font-size: 120%;
}

.navPageLink:hover {
    color: red;
}

#biggerScreenMenu {
    display: none;
}

/* ############################## container buttons + images ############################## */

.galleryContainer {
    margin: 10px auto 20px auto;
    display: grid;
    width: 95%;
    gap: 30px;
}

/* ############################## buttons ############################## */

#galleryButtonsDiv {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#galleryButtonsDiv button {
    background-image: linear-gradient(92.88deg, #ff6161 9.16%, #ff3b3b 43.89%, red 64.72%);
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    height: fit-content;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0.5rem 0.7rem;
    margin-top: 10px;
    font-weight: 300;
}

#galleryButtonsDiv button.activeGalleryBtn {
    font-weight: 500;
    box-shadow: rgba(255, 0, 0, 0.5) 0 1px 30px;
    background-color: white;
    color: red;
    background-image: none;
    cursor: pointer;
}

/* ############################## all pictures ############################## */

#allPicturesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.eachPictureDiv {
    background-color: white;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.eachPictureDiv:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.eachPictureDiv img {
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* ############################## popup fullscreen page ############################## */

#popUpPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    display: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#popUpContent {
    position: relative;
    max-width: 95%;
    max-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

#fullScreenImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#closeButton {
    position: absolute;
    top: 0.7vw;
    right: 0.5vw;
    color: #fff;
    font-size: clamp(2rem, 4vw, 3rem);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: clamp(40px, 5vw, 50px);
    height: clamp(40px, 5vw, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#closeButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

/* ########################################## Media Queries ##########################################*/

/* For larger phones and smaller tablets */
@media (min-width: 480px) {

    .galleryMenu {
        width: 90%;
    }

    .galleryMenu div {
        margin: 11px 0 0 0;
    }

    #allPicturesContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For tablets and small laptops */
@media (min-width: 768px) {

    .galleryMenu div {
        margin: 14px 0 0 0;
    }

    .programsMenu img {
        height: 48px;
        width: 52px;
    }

    .galleryContainer {
        margin: 10px auto 20px auto;
        width: 90%;
    }

    #allPicturesContainer {
        gap: 15px;
    }

    .eachPictureDiv {
        height: 180px;
    }
}

/* For desktops and large screens */
@media (min-width: 1024px) {

    .galleryMenu div {
        margin: 15px 0 0 0;
    }

    /* hiding small screen menu */
    #menuBarsContainer {
        display: none;
    }

    /* displaying bigger screen menu */
    #biggerScreenMenu {
        display: flex;
        justify-content: space-between;
        width: 450px;
        font-size: 110%;
        font-weight: 600;
        text-decoration: none;
    }

    #biggerScreenMenu a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    #biggerScreenMenu a:visited {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    #biggerScreenMenu a:hover {
        text-decoration: none;
        color: red;
        cursor: pointer;
    }

    .galleryContainer {
        margin: 20px auto 20px auto;
        width: 85%;
    }

    #allPicturesContainer {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    #popUpContent {
        max-width: 60%;
        max-height: 85%;
    }

    #closeButton {
        top: 0.4vw;
        right: 0.4vw;
    }
}

/* xl screens */
@media (min-width: 1366px) {

    .programsMenu img {
        height: 52px;
        width: 56px;
    }

    #biggerScreenMenu {
        width: 550px;
    }

    .galleryContainer {
        margin: 30px auto 30px auto;
        width: 80%;
    }

    #allPicturesContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}