@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: whitesmoke;
}

.noScroll {
    overflow: hidden;
}

/* ############################## menu ############################## */

.galleryMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 95%;
}

.galleryMenu h1 {
    color: red;
    font-size: 170%;
}

.galleryMenu div {
    margin: 10px 0 0 0;
    padding: 0;
}

.galleryMenu a {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.galleryMenu img {
    height: 22px;
    width: 100px;
}

/* ############################## container buttons + images ############################## */

.galleryContainer {
    margin: 10px auto 20px auto;
    display: grid;
    width: 95%;
    gap: 30px;
}

/* ############################## buttons ############################## */

#galleryButtonsDiv {
    /* background-color: firebrick; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#galleryButtonsDiv button {
    background-image: linear-gradient(92.88deg, #ff6161 9.16%, #ff3b3b 43.89%, red 64.72%);
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    height: fit-content;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0.5rem 0.7rem;
    margin-top: 10px;
    font-weight: 300;
}

#galleryButtonsDiv button.activeGalleryBtn {
    font-weight: 500;
    box-shadow: rgba(255, 0, 0, 0.5) 0 1px 30px;
    background-color: white;
    color: red;
    background-image: none;
    cursor: pointer;
}

/* ############################## all pictures ############################## */

#allPicturesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.eachPictureDiv {
    background-color: white;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.eachPictureDiv:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.eachPictureDiv img {
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* ############################## popup fullscreen page ############################## */

#popUpPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    display: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#popUpContent {
    position: relative;
    max-width: 95%;
    max-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

#fullScreenImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#closeButton {
    position: absolute;
    top: 0.7vw;
    right: 0.5vw;
    color: #fff;
    font-size: clamp(2rem, 4vw, 3rem);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: clamp(40px, 5vw, 50px);
    height: clamp(40px, 5vw, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#closeButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

/* ########################################## Media Queries ##########################################*/

/* For larger phones and smaller tablets */
@media (min-width: 480px) {
    .galleryMenu {
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
    }

    .galleryMenu div {
        margin: 11px 0 0 0;
    }

    .galleryMenu img {
        height: 32px;
        width: 130px;
    }

    .galleryMenu h1 {
        font-size: 200%;
        margin-left: 10px;
    }

    #allPicturesContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For tablets and small laptops */
@media (min-width: 768px) {
    .galleryMenu {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: 0 auto;
    }

    .galleryMenu div {
        margin: 14px 0 0 0;
    }

    .galleryMenu img {
        height: 40px;
        width: 180px;
    }

    .galleryMenu h1 {
        font-size: 250%;
        margin-left: 40px;
    }

    .galleryContainer {
        margin: 10px auto 20px auto;
        width: 90%;
    }

    #allPicturesContainer {
        gap: 15px;
    }

    .eachPictureDiv {
        height: 180px;
    }
}

/* For desktops and large screens */
@media (min-width: 1024px) {
    .galleryMenu {
        width: 85%;
    }

    .galleryMenu div {
        margin: 15px 0 0 0;
    }

    .galleryContainer {
        margin: 20px auto 20px auto;
        width: 85%;
    }

    #allPicturesContainer {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    #popUpContent {
        max-width: 60%;
        max-height: 85%;
    }

    #closeButton {
        top: 0.4vw;
        right: 0.4vw;
    }
}

/* xl screens */
@media (min-width: 1366px) {
    .galleryMenu {
        width: 80%;
    }

    .galleryMenu h1 {
        font-size: 250%;
        margin-left: 100px;
    }

    .galleryContainer {
        margin: 30px auto 30px auto;
        width: 80%;
    }

    #allPicturesContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}